@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
:root {
  --bg-color: bisque;
  --text-color: black;
  --border-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode {
  --bg-color: #0a0f2c;
  --text-color: #e0e0e0;
  --border-color: rgba(255, 255, 255, 0.1);
}


